// --------------------------------------------------
// Header
// --------------------------------------------------
  
.header 
  background $gray-darker
  padding-bottom $space-md
  padding-top $space-md
  position relative
  z-index $zindex-site
  display flex
  flex-direction column
  align-items center
  justify-content center

  .title
    color $white
    text-decoration underline
    &:hover
      transition-duration 0.5s
      text-decoration none
      
