// --------------------------------------------------
// Header
// --------------------------------------------------
  
.header 
  background $gray-darker
  padding-bottom $space-md
  padding-top $space-md
  position relative
  z-index $zindex-site
  display flex
  flex-direction column
  align-items center
  justify-content center
