// --------------------------------------------------
// Translator
// --------------------------------------------------
  
.translator
  &__main
    display flex
    border-radius 4px
    overflow hidden

    +above('sm')
      // box-shadow 0 1px 5px 1px rgba($gray-darker, .8)
      box-shadow 0 5px 22px 0 rgba(0,0,0,0.2)
      //   align-items stretch
      //   lost-flex-container row 

  &__content
    // +above('sm')
    display flex
    flex-grow 1
    flex-shrink 1
    flex-basis 0%


  &__label
    position absolute
    top -999em

  &__text 
    background $gray-dark
    color $white
    border 0
    box-shadow 0 1px 3px 1px rgba($gray-darker, .6)
    display block
    font-size 2.4rem
    min-height 30vw
    padding $space
    resize none
    width 100%

    +above('sm') 
      min-height 'calc(50vh - %s)' % ($footer-height + $avatar-height)
      overflow-y auto

    &[disabled]
      background $gray-dark 

    &:not(:last-child)
      border-right $gray-lighter solid 1px

  &__actions
    display: flex
    flex-direction row
    justify-content center
    align-items center


  &__button
    background $blue
    border 0
    color $white
    border-radius 4px
    cursor pointer
    display inline-flex
    font-size 1.6rem
    font-weight bold
    margin-top $space-sm
    padding $space-xs $space-sm
    // border 1px solid $blue
    // transition background .3s
    // margin-left $space-sm
    // margin-right 0