// --------------------------------------------------
// Typography
// --------------------------------------------------
  
.title   
	font-size 3rem
	font-weight normal

	&:not(:last-child)
		margin-bottom $space-sm

.text
	font-size 2rem 

	&:not(:last-child)
		margin-bottom $space-sm

.text-center
	text-align center